* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
    height: 100%;
}

header {
    width: 100vw;
    height: 80px;
}

main {
    background-color: whitesmoke;
}


/* --------------------------- HEADER --------------------------- */
header .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* HEADER - Left side */
header .container #left-header {
    display: flex;    
}
header .container #left-header a {
    max-width: 100px;
}
header .container #left-header #titolo {
    margin: auto 0;
    font-size: 26px;
}

/* HEADER - Right side */
header .container #right-header {
    display: flex;
}

/* Difficoltà */
header .container #right-header div:has( #mode),
header .container #right-header div:has(a) {
    margin: auto 0 auto 60px;
}

header .container #right-header #container-difficolta {
    display: flex;
    align-items: center;
}

/* Label */
header .container #right-header label {
    font-size: 20px;
}

/* Menu icon */
header .container #right-header #menu-difficolta {
    display: flex;
    align-items: center;
    height: 80px;
}
header .container #right-header #square-menu {
    display: flex;
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-left: 30px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 3px solid;
    
}

/* Select */
header .container #right-header select {
    position: absolute;
    display: none;
    top: -2px;
    left: -10px;
}

/* Menu icon hover */
header .container #right-header #container-difficolta:hover select {
    display: flex;
    font-weight: 800;
    color: black;
    padding: 17px 0;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/* Button play */
header .container #right-header a {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    color: black;
    border: 3px solid black;
    background-color: greenyellow;
}


/* --------------------------- MAIN --------------------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

/* Griglia */
main #griglia {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

/* Boxes - Easy mode*/
main #griglia .box_easy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    aspect-ratio: 1;
    padding: 15px;
    border: 1px solid black;
    background-color: springgreen;
}

/* Boxes - Medium mode*/
main #griglia .box_medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 9);
    aspect-ratio: 1;
    padding: 20px;
    border: 1px solid black;
    background-color: springgreen;
}

/* Boxes - Hardcore mode*/
main #griglia .box_hardcore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    aspect-ratio: 1;
    padding: 25px;
    border: 1px solid black;
    background-color: springgreen;
}

main #griglia .selected {
    background-color: darkorange;
}

/* --------------------------- FOOTER --------------------------- */
footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div:has(span) {
    width: 90%;
}