* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: 100%;
}

header {
    width: 100vw;
    height: 90px;
    background-color: aquamarine;
}

main {
    background-color: cadetblue;
}


/* --------------------------- HEADER --------------------------- */
header .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* HEADER - Left side */
header .container #left-header {
    display: flex;    
}
header .container #left-header a {
    max-width: 100px;
}
header .container #left-header #titolo {
    margin: auto 0;
    font-size: 30px;
}

/* HEADER - Right side */
header .container #right-header {
    display: flex;
}

/* Difficoltà */
header .container #right-header div:has(label, select),
header .container #right-header div:has(a) {
    margin: auto 0 auto 20px;
}

/* Button play */
header .container #right-header a {
    padding: 10px 20px;
    background-color: greenyellow;
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    border: 2px solid black;
}

/* --------------------------- MAIN --------------------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Griglia */
main #griglia {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

/* Boxes */
main #griglia .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    aspect-ratio: 1;
    padding: 15px;
    border: 1px solid black;
    background-color: coral;
}

main #griglia .luca {
    background-color: rgb(199, 0, 0);
}

